p{
    color: #a52a2a;
    text-align: center;
    line-height: 30px;
}
h1{
    text-align: center;
    text-decoration: underline;
    font-family: georgia; 
}
h3{
    text-align: center;
}
h4{
    text-align: center;
}
a{
    text-decoration: none;
    color: rgb(0,255,0);
}
button{
    background-color: white;
    color: blueviolet;
}
textarea{
    color: #000;
}
