/*div{
    height: 100px;
    width: 200px;
    background-color: #00c3ff;
    text-align: center;
    margin: 0 auto;
    box-shadow: 5px 3px 10px black;

}*/

/*div{
    height: 200px;
    width: 400px;
    background-color: #298000e8;
    margin: 10px auto;
    background-image: url("leaf.jpg");
    background-size: contain;
    color: orangered;
}*/

.card {
    height: 200px;
    width: 200px;
    margin: 10px;
    border: 2px solid black;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 0px 4px 8px black;
    transition: 2s;
}
.desc {
    padding: 0 5px 0 10px;
}
img {
    width: 60%;
    padding: 0 5px 0 10px;
    border-radius: 5px 5px 0 0;
}

.card:hover{
    box-shadow: 0 8px 16px yellow;
}


